<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.ArticleTypeMapper">
    <insert id="insertArticleType" parameterType="com.inet.code.entity.po.ArticleType" >
        insert into milc_article_type(`article_id`,`genre_id`,`create_time`,`update_time`)
        values (#{articleId},#{genreId},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>

</mapper>