<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="com.inet.code.entity.po.Article" >
        insert into milc_article(`id`,`user_id`,`headline`,`l`,`create_time`,`update_time`)
        values (#{articleId},#{userId},#{headline},#{l},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>

    <select id="selectArticle" parameterType="java.lang.String" resultType="com.inet.code.entity.vo.ShowArticleVO">
        SELECT milc_genre.id as genreId,milc_article.headline,milc_article.l,milc_article.create_time as createTime
        FROM milc_article_type
        INNER JOIN milc_article on milc_article_type.article_id = milc_article.id
        INNER JOIN milc_genre on milc_article_type.genre_id = milc_genre.id
        WHERE milc_genre.id = #{articleTypeId}
        ORDER BY (
        <choose>
            <when test="sortBy == '评论'">
                SELECT count(*) FROM milc_discuss_article
                WHERE milc_discuss_article.article_id = milc_article.id
            </when>
            <when test="sortBy == '点赞'">
                SELECT count(*) FROM milc_like
                WHERE milc_like.article_id = milc_article.id
            </when>
            <when test="sortBy == '分数'">
                SELECT milc_article_type.score FROM milc_article_type
                WHERE milc_article_type.article_id = milc_article.id
            </when>
        </choose>
        ) ASC
    </select>
</mapper>