<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.TopicMapper">
    <insert id="insertTopicFromWebsite" parameterType="com.inet.code.entity.po.Topic" >
        insert into milc_topic(`id`,`origin_url`,`issuer_user_id`,`author`,`level`,`label_id`,`headline`,`content`,`status`,`create_time`,`update_time`)
        values (#{id},#{originUrl},#{issuerUserId},#{author},#{level},#{labelId},#{headline},#{content},1,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>
</mapper>